body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-image: url(../images/watercolors-413275.jpg);
    background-position: fixed;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  div {
    overflow-y: auto;
  }
  
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
  
  .fa-solid {
    width: 30px;
    height: 30px;
  }

  .content {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  
  #scrollspyHeading1 {
    margin-top: 1em;
  }
  
  #scrollspyHeading4 {
    margin-top: 1em;
  }
  
  p {
    margin-top: 1em;
    margin-left: 3em;
    text-align: center;
    padding-left: 6em;
    padding-right: 6em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1, h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
  
  a {
    color:antiquewhite;
    text-decoration: none;
  }

  a:hover {
    color: rgb(144, 144, 250);
  }
  .nav-link {
    color: antiquewhite;
  }
  
  .nav-link:hover {
    color: rgb(144, 144, 250);
  }

  .nav-link:focus {
    color: rgb(144, 144, 250);
  }
  
  .navbar-toggler {
    padding-top: 0.5em;
    padding-bottom: 0em;
    color: rgb(46, 45, 45);
    border-color: rgb(46, 45, 45);
    background-color: transparent;
  }
  .navbar-toggler:hover {
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: rgb(46, 45, 45)
  }
  
  .btn-toolbar {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .btn-toolbar .btn {
    color: antiquewhite;
    background-color: rgb(46, 45, 45);
    border-color:rgb(46, 45, 45);
    margin: 1em 1em 1em 1em;
    width: 150px;
  }

  .btn-toolbar2 {
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
  }

  #btn5 {
    color: antiquewhite;
    background-color: rgb(65, 138, 31);
    border-color:rgb(46, 45, 45);
    width: 150px;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  #btn6 {
    color: antiquewhite;
    background-color: rgb(57, 71, 194);
    border-color:rgb(46, 45, 45);
    width: 150px;
    margin-bottom: 1em;
  }

  .btn:hover {
    color: rgb(144, 144, 250);
  }
  
  .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: antiquewhite;
    background-color: rgb(144, 144, 250);
    border-color: rgb(144, 144, 250);
  }

  .alert {
    text-align: center;
    margin-bottom: 0rem;
  }
  
  footer {
    display: flex;
    font-size: 0.8rem;
    background-color:rgb(46, 45, 45);
    color: antiquewhite;
    height: fit-content;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    position: absolute;
    }
  
  footer div p{
    margin: 0.5em;
  }
  
  #carouselExampleCaptions {
    height: 40%;
    width: 40%;
    margin: 1em;
  }
  
  .container-fluid {
    padding-top: 0.5em;
    height: 4em;
  }
  
  .offcanvas-header {
    color: antiquewhite;
    background-color: rgb(46, 45, 45);
  }
  
  .offcanvas-body {
    background-color: rgb(46, 45, 45);
  }
  
  .offcanvas {
    width: fit-content;
  }

  #picture {
    text-align: center;
  }

  img {
    width: 640px;
    height: 426px;
  }

  .my-5 {
    margin-top: 1rem;
  }

  

  /*@media (max-width: 1024px) {
    
    footer {
      display: block;
      position: relative;
    }

    img {
    height: 60%;
    width: 65%;
    margin: 0;
    }

    .navbar-toggler {
      padding-top: 0.5em;
      padding-bottom: 0em;
      color: rgb(46, 45, 45);
      border-style: none;
      background-color: transparent;
    }
  
    .navbar-toggler:hover {
      color: antiquewhite;
      border-color: antiquewhite;
      background-color: rgb(46, 45, 45)
    }

    .btn-toolbar {
      flex-direction:row;
    }

    }*/
  
  
  @media (max-width: 768px) {
    
    footer {
      display: block;
      position: relative;
    }

    img {
    height: 60%;
    width: 65%;
    margin: 0;
    }

    .navbar-toggler {
      padding-top: 0.5em;
      padding-bottom: 0em;
      color: rgb(46, 45, 45);
      border-style: none;
      background-color: transparent;
    }
  
    .navbar-toggler:hover {
      color: antiquewhite;
      border-color: antiquewhite;
      background-color: rgb(46, 45, 45)
    }

    .btn-toolbar {
      flex-direction:row;
    }

    }
  
  @media (max-width: 576px) {
  
    footer {
      display: block;
      position: relative;
    }
  
    body {
      font-size: 0.85em;
    }

    img {
    height: 47.5%;
    width: 50%;
    margin: 0;
    }

    .btn-toolbar {
      flex-direction: column;
    }

    .btn-toolbar .btn {
      color: antiquewhite;
      background-color: rgb(46, 45, 45);
      border-color:rgb(46, 45, 45);
      margin: 0.5em;
      width: 150px;
    }

    
    .navbar-toggler {
      padding-top: 0.5em;
      padding-bottom: 0em;
      color: rgb(46, 45, 45);
      border-style: none;
      background-color: transparent;
    }
  
    .navbar-toggler:hover {
      color: antiquewhite;
      border-color: antiquewhite;
      background-color: rgb(46, 45, 45)
    }
  }